.header {
    padding: 2px 50px 2px 30px;
    border-radius: 8px;
    background-color: #ffffff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 7px 5px 5px #c8c7c7;

    margin-bottom: 70px;
}

img {
    width: 120px;
}