.all_available_records {
    margin: 3% 15% 3% 15%;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 2% 3% 2% 3%;

    box-shadow: 7px 5px 5px #c8c7c7;
}

.all_available_records h1 {
    color: #027765;
    border-bottom: 1.5px solid #E6E9ED;
    padding-bottom: 20px;
}

.master_data {
    border-bottom: 1.5px solid #E6E9ED;
}

h3 {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 500;
}

.day_and_time {
    display: flex;
    justify-content: space-between;
}

.day {
    color: #027765;
    margin-bottom: 28px;
}

.time {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    margin-bottom: 8px;
    padding-left: 15px;
}

.number_and_weekday {
    display: flex;
    align-items: flex-start;
}

.number {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    margin-right: 4px;
}

.weekday {
    font-size: 14px;
    line-height: 20px;
    margin-right: 4px;
}

.month {
    font-size: 14px;
    line-height: 20px;
}